<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link  rel="stylesheet" href="../CSS/home.css">
		<title>Price tracker</title>
	</head>
	<body>
		<div class="container">
			<h1>Price Tracker</h1>
			<p>"Click below button to track price of your wishlist item, when you click on track button you will redirect to amazon page, please open your wishlist page and we will send you mail if any product price is droped. Thankyou! "</p>
			<div ng-controller="MainController">
				<button ng-click="TrackPrice()" class="btn btn-primary">Track Price</button>
				<button ng-click="logout()" class="btn btn-primary">Logout</button>
		       </div>
		   
		</div>
	</body>

</html>
